/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */

// We have all of our heading font sizes defined here. Passing these pixel
// values into our `inuit-font-size()` mixin will generate a rem-based
// `font-size` with a pixel fallback, as well as generating a `line-height` that
// will sit on our baseline grid.

$font-size-h1:  47.8px !default;
$font-size-h2:  27.6px !default;
$font-size-h3:  23px !default;
$font-size-h4:  19.2px !default;
$font-size-h5:  16px !default;
$font-size-h6:  13.33px !default;

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-typography-font-family);
  font-weight: var(--heading-typography-variant);
  font-size: calc(var(--heading-typography-font-size));
}


h1 {
  font-size: calc(var(--heading-typography-font-size));
  letter-spacing: -1px;
  color: var(--secondary-color);
  line-height: 1.175;
  font-weight: var(--heading-typography-variant);

  @include mq($until: tablet) {
    line-height: 64px;
    font-size: 2.0275em;
  }
}

h2 {
  font-size: calc(var(--heading-typography-font-size) - 4px);
  letter-spacing: -1px;
  color: var(--secondary-color);
  line-height: 1.175;
  font-weight: var(--heading-typography-variant);

  @include mq($until: tablet) {
    font-size: 1.8018em;
  }
}

h3 {
  font-size: calc(var(--heading-typography-font-size) - 8px);
  letter-spacing: -1px;
  color: var(--secondary-color);
  line-height: 1.175;
  font-weight: var(--heading-typography-variant);

  @include mq($until: tablet) {
    font-size: 19.2px;
    line-height: 30px;
  }
}

h4 {
  font-size: calc(var(--heading-typography-font-size) - 12px);
  letter-spacing: -1px;
  color: var(--secondary-color);
  line-height: 1.175;
  font-weight: var(--heading-typography-variant);

  @include mq($until: tablet) {
    line-height: 1.6018em;
  }
}

h5 {
  font-size: calc(var(--heading-typography-font-size) - 14px);
  letter-spacing: -1px;
  color: var(--secondary-color);
  line-height: 1.175;
  font-weight: var(--heading-typography-variant);

  @include mq($until: tablet) {
    line-height: 1.42375em;
  }
}

h6 {
  font-size: calc(var(--heading-typography-font-size) / 2);
  letter-spacing: -1px;
  color: var(--secondary-color);
  line-height: 1.175;
  font-weight: var(--heading-typography-variant);

  @include mq($until: tablet) {
    font-size: 1.2656em;
  }
}