form, .wpforms-container {
  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="search"],
  input[type="number"],
  input[type="tel"],
  input[type="range"],
  input[type="date"],
  input[type="month"],
  input[type="week"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="color"],
  textarea {
    background: #FFFFFF;
    border: 1px solid transparent;
    box-sizing: border-box;
    padding: 13.2px 15px;
    width: 100% !important;
    max-width: 100% !important;
    transition: 0.3s;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    border-radius: 4px;
    color: $color-dark;
    letter-spacing: 0.05em;
    font-family: var(--text-typography-font-family) !important;

    &:focus {
      color: $color-dark;
      border-color: $color-primary;
    }

    &::placeholder {
      color: #737d80;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 13.33px;
      line-height: 16px;
      letter-spacing: 0.1em;
      opacity: 1;
    }

    &.wpforms-error {
      box-color: #FF2121;
      border-color: transparent !important;
    }

    &:focus, &:active {
      border-color: $color-primary;
    }
  }

  label {
    color: #fff;
    margin-bottom: 15px;
    font-weight: 300 !important;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.05em;
  }

  label.wpforms-error {
    font-size: 14px;
    line-height: 23px;
    color: #FF2121;
    margin-top: 12px;
  }

  select {
    border: 0;
    box-sizing: border-box;
    padding: 13.2px 20px;
    width: 100% !important;
    max-width: 100% !important;
    transition: $global-transition;
    font-family: var(--text-typography-font-family);
    appearance: textfield;
    color: $color-dark;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    border: 1px solid transparent;
    background: #FFFFFF url("../img/arrow-select.svg") 97% center/15px 8px no-repeat;
    background-blend-mode: darken;

    &:hover {
      background-blend-mode: unset;
    }

    option {
      color: #000;
      font-size: 14px;
    }

    &:focus, &:active {
      border-color: $color-primary;
    }
  }

  input[type="submit"], button {
    margin-top: 15px;
    background-color: $color-primary;
    border: 1px solid $color-primary;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    padding: 16px 48px;
    color: $color-dark;
    border-radius: 4px;
    transition: 0.3s;
    font-family: var(--text-typography-font-family);
    font-size: 12px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: 0.1em;
    margin-top: 0;

    @include mq($until: tablet) {
      width: 100%;
      padding: 13.2px 48px;
    }

    &:hover {
      cursor: pointer;
      background-color: $color-quinary;
      border-color: $color-quinary;
      color: #fff;
    }

    &:focus, &:active {

    }
  }
}

.c-footer__form-section {

  @include mq($until: tablet) {
    margin-bottom: 48px;
  }

  input[type="submit"] {
    border: 1px solid #FFFFFF;
    background-color: transparent;
    box-sizing: border-box;
    padding: 13px 32px;
    width: auto;
    transition: 0.3s;

    &:hover {
      background-color: #fff;
      color: #0D0D0D;
    }

    @include mq($until: tablet) {
      width: 100%;
    }
  }

  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="search"],
  input[type="number"],
  input[type="tel"],
  input[type="range"],
  input[type="date"],
  input[type="month"],
  input[type="week"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="color"],
  textarea {

    &:focus {
      color: #0D0D0D;
      border-color: #fff;
    }

    &:invalid, &[aria-invalid="true"], .wpcf7-not-valid {

    }
  }
}

//CF7

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
  color: #fff;
  border-color: red;
  margin: 10px 0 0 0;
  padding: 10px;
}

div.wpcf7-mail-sent-ok {
  color: #fff;
  padding: 10px;
}

span.wpcf7-not-valid-tip {
  margin-top: 18px;
  font-weight: 300;
  font-size: 14px !important;
  line-height: 176.7%;
  color: #fff;
  background: #FF201A;
  position: relative;
  padding: 5px 14px;
  display: inline-block;

  &::before {
    position: absolute;
    left: 20px;
    top: -7px;
    content: '';
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 10px solid #FF201A;
    width: 14px;
    height: 8px;
  }
}

.wpforms-field-checkbox {

  ul li {
    display: flex;
    align-items: flex-start;

    input[type="checkbox"] {
      margin-top: 8px;
    }
  }
}

/// Errors

.wpforms-container label.wpforms-error {
  margin-top: 18px;
  font-weight: 300;
  font-size: 16px;
  line-height: 176.7%;
  color: #fff !important;
  background: #ff201a;
  position: relative;
  padding: 5px 14px;
  display: inline-block;

  &::before {
    position: absolute;
    left: 20px;
    top: -7px;
    content: '';
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 10px solid #ff201a;
    width: 14px;
    height: 8px;
  }
}

.wpforms-container input[type="color"].wpforms-error, .wpforms-container input[type="date"].wpforms-error, .wpforms-container input[type="datetime-local"].wpforms-error, .wpforms-container input[type="datetime"].wpforms-error, .wpforms-container input[type="email"].wpforms-error, .wpforms-container input[type="month"].wpforms-error, .wpforms-container input[type="number"].wpforms-error, .wpforms-container input[type="password"].wpforms-error, .wpforms-container input[type="range"].wpforms-error, .wpforms-container input[type="search"].wpforms-error, .wpforms-container input[type="tel"].wpforms-error, .wpforms-container input[type="text"].wpforms-error, .wpforms-container input[type="time"].wpforms-error, .wpforms-container input[type="url"].wpforms-error, .wpforms-container input[type="week"].wpforms-error, .wpforms-container textarea.wpforms-error, form input[type="color"].wpforms-error, form input[type="date"].wpforms-error, form input[type="datetime-local"].wpforms-error, form input[type="datetime"].wpforms-error, form input[type="email"].wpforms-error, form input[type="month"].wpforms-error, form input[type="number"].wpforms-error, form input[type="password"].wpforms-error, form input[type="range"].wpforms-error, form input[type="search"].wpforms-error, form input[type="tel"].wpforms-error, form input[type="text"].wpforms-error, form input[type="time"].wpforms-error, form input[type="url"].wpforms-error, form input[type="week"].wpforms-error, form textarea.wpforms-error {
  border-color: #ff201a !important;
}

.wpforms-container .wpforms-field {
  padding: 15px 0;
}

// Custom Checkbox and Radio
.wpforms-field-checkbox {
  /* Customize the label (the container) */
  ul li {
    display: block;
    position: relative;
    margin-bottom: 12px;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 40px;
  }

  /* Hide the browser's default checkbox */
  ul li input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .wpforms-field-label-inline {
    position: relative;
    cursor: pointer;
    padding-left: 28px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 16px;
      width: 16px;
      background-color: #fff;
      transition: 0.2s;
      cursor: pointer;
    }
  }

  /* On mouse-over, add a grey background color */
  ul li:hover input ~ .wpforms-field-label-inline::before {
    border-color: $color-tertiary;
  }

  /* When the checkbox is checked, add a blue background */
  ul li input:checked ~ .wpforms-field-label-inline {

  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .wpforms-field-label-inline:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  ul li input:checked ~ .wpforms-field-label-inline::after {
    display: block;
  }

  ul li input:checked ~ .wpforms-field-label-inline::before {
    background-color: #2196F3;
  }

  /* Style the checkmark/indicator */
  ul li .wpforms-field-label-inline::after {
    cursor: pointer;
    transition: 0.2s;
    left: 4.85px;
    top: 2px;
    width: 6px;
    height: 9.5px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

/// RADIO
.wpforms-field-radio {
  /* Customize the label (the container) */
  ul li {
    display: block;
    position: relative;
    margin-bottom: 12px;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 40px;
  }

  /* Hide the browser's default radio button */
  ul li input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom radio button */
  .wpforms-field-label-inline {
    position: relative;
    padding-left: 28px;
    position: absolute;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 3px;
      left: 0;
      height: 16px;
      width: 16px;
      background-color: #fff;
      transition: 0.2s;
      cursor: pointer;
      border-radius: 0;
      border: 4px solid #fff;
    }
  }

  /* On mouse-over, add a grey background color */
  ul li:hover input ~ .wpforms-field-label-inline::before {
    border-color: #2196F3;
  }

  /* When the radio button is checked, add a blue background */
  ul li input:checked ~ .wpforms-field-label-inline::before {
    border-color: #2196F3;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .wpforms-field-label-inline:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  ul li input:checked ~ .wpforms-field-label-inline:after {
    display: block;
  }
  
}