a {
  text-decoration: none;
  color: #0D0D0D;
  padding-bottom: 2px;
  position: relative;
  transition: 0.3s;

  &::before {
    //content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #000;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
  }

  &:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
  }
}

#wp-toolbar a::before {
  content: unset;
  display: none;
}

* {
  outline: none !important;
}


h1, h2, h3, h4, h5, h6 {

  a {
    font-size: inherit;
    font-family: inherit;
  }
}
