html {
  position: relative;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  color: var(--secondary-color);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1 {
  font-family: var(--heading-typography-font-family);
  font-size: var(--heading-typography-font-size);
  letter-spacing: -1px;
  color: var(--secondary-color);
  line-height: 1.175;
  font-weight: var(--heading-typography-variant);

  @media #{$mobile} {
    font-size: calc(var(--heading-typography-font-size) - 15px);
    line-height: 1.3333333333333333em
  }
}

h2 {
  font-family: var(--heading-typography-font-family);
  font-size: calc(var(--heading-typography-font-size) - 15px);
  color: var(--secondary-color);
  line-height: 1.167;
  font-weight: var(--heading-typography-variant);
}

h3 {
  font-family: var(--heading-typography-font-family);
  font-size: calc(var(--heading-typography-font-size) - 25px);
  color: var(--secondary-color);
  line-height: 1.154;
  font-weight: var(--heading-typography-variant);
}

h4 {
  font-family: var(--heading-typography-font-family);
  font-size: calc(var(--heading-typography-font-size) - 29px);
  color: var(--secondary-color);
  line-height: 1.15;
  font-weight: var(--heading-typography-variant);
}

h5 {
  font-family: var(--heading-typography-font-family);
  font-size: calc(var(--heading-typography-font-size) - 32px);
  color: var(--secondary-color);
  line-height: 1.205;
  font-weight: var(--heading-typography-variant);
}

h6 {
  font-family: var(--heading-typography-font-family);
  font-size: calc(var(--heading-typography-font-size) - 36px);
  color: var(--secondary-color);
  line-height: 1.194;
  font-weight: var(--heading-typography-variant);
}

a {
  color: $wp-manifest__secondary-color;
  text-decoration: none;
  transition: $wp-manifest_global-transition;

  &:hover {
    color: var(--primary-color);

    svg {
      fill: var(--primary-color);
    }
  }

  svg {
    margin-left: 8px;
    transition: $wp-manifest_global-transition;
  }
}

p {
  font-family: var(--text-typography-font-family);
  font-size: var(--text-typography-font-size);
  line-height: var(--text-typography-line-height);
  font-weight: var(--text-typography-variant);
  color: var(--third-color);
  margin-bottom: 20px;
  letter-spacing: 0.05em;
}

strong {
  font-weight: 400;
  color: #000;
}

ul,
ol
li {
  font-family: var(--text-typography-font-family);
  font-size: var(--text-typography-font-size);
  line-height: var(--text-typography-line-height);
  font-weight: var(--text-typography-variant);
  color: var(--third-color);
}

figure,
img,
pre,
iframe {
  max-width: 100%;
  height: auto;
}

img,
pre {

}

figcaption {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  width: 100%;
  text-align: center;
  font-size: calc(var(--text-typography-font-size) + 30%);
  color: $wp-manifest__dark-gray-color;
  font-weight: 300;

  @media #{$mobile}
  {
    font-size: calc(var(--text-typography-font-size) + 20%);
  }
}

blockquote {
  padding-left: 64px;
  border-left: 2px solid $wp-manifest__dark-gray-color;
  margin: 32px 0;
  letter-spacing: 0.1em;

  p {
    font-weight: bold;
  }

  cite {
    color: $wp-manifest__dark-gray-color;
    letter-spacing: 0.1em;
  }
}

hr {
  border: none;
  height: 1px;
  margin: 40px auto;
  background: #eee;
  width: 100%;
}

figure.highlight {
  width: 100%;
  margin: 0;
}

code,
tt {
  padding: 1px 0;
  font-family: $wp-manifest__primary-font;
  font-size: calc(var(--text-typography-font-size) - 20%);
  line-height: 20px;
  background: #fff;
  border-radius: 2px;
}

pre {
  box-sizing: border-box;
  margin: 0 0 1.75em 0;
  width: 100%;
  padding: 5px 10px;
  font-family: $wp-manifest__primary-font;
  font-size: calc(var(--text-typography-font-size) - 20%);
  line-height: 2rem;
  overflow: auto;
  background: #fff;
  border: 1px solid $wp-manifest__gray-color;
  border-radius: 2px;
}

// Default WP Styles

.aligncenter {
  text-align: center;
}

.alignleft {
  text-align: left;
}

.alignright {
  text-align: right;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}


.gallery-caption {
  color: #888;
  font-size: 12px;
  margin: 0 0 12px;
}

.sticky {
  position: sticky;
}

.bypostauthor {
  background-color: #FFFFFF;
  color: #000000;
}


.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}
