/* Width Wrappers */

$wrappers: expand-width-wrapper !global;

@mixin wrapper($name, $width) {
  .#{$name} {
    max-width: $width;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    padding-right: 16px;
    padding-left: 16px;
  }
  @media(max-width: $width+2rem) {
    @each $wrapper in $wrappers {
      .#{$wrapper} .#{$name} {
        margin-left: 0;
        margin-right: 0;
      }
    }
    .#{$name} {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
  $wrappers: append($wrappers, $name) !global;
}

.expand-width-wrapper /*Full Width with ~16px padding*/
{
  margin: 0 1rem; //override 0 auto
  clear: both;
}
