.c-article {
  height: 100%;
  display: flex;
  flex-direction: column;
}

// Archive Article
.c-article--archive {
  max-width: 544px;
  margin: auto;
}


// Single Article

.c-article__image {
  width: 100%;
}

.c-article__title {
  margin: 15px 0 0 0;
}

.c-article__readmore {
  margin-left: auto;
  margin-top: auto;
}

.c-article__readmore-link {
  background: url("../img/arrow.svg") 98% center/ 23px no-repeat;
  padding-right: 35px;
}

.c-article__main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.c-article__excerpt {
  margin: 15px 0;
}

.s-article-excerpt {

  p {
    margin: 0;
  }
}