.c-slider {

}

.c-slider__slide {
  max-width: 574px;
}

.c-slider__slide-main {
  padding: 0 15px;
}

.c-slider__image {
  max-height: 544px;
  max-width: 544px;
  text-decoration: none;

  @media #{$mobile} {
    max-height: 285px;
    max-width: 285px;
  }

  @media #{$tablet} {
    max-height: 400px;
    max-width: 400px;
  }
}

.c-slider__title {
  font-weight: normal;
  font-size: 16px;
  line-height: 166.3%;
  letter-spacing: 0.1em;
  margin: 15px 0 0 0;
}
