/*
* Header Styles
*/

.c-header {
  top: 0;
  position: relative;
  z-index: 90;
  width: 100%;
  color: #fff;
  transition: $global-transition;
  background: #fff;
  font-weight: 300;
}

// Main Container of HEADER Section
.c-header__main {
  display: flex;
  padding: 96px 0;
}

.c-header__menu {
  flex-grow: 1;
}

.c-header__logo {

}

.c-header__site-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  font-family: var(--heading-typography-font-family);
}

.c-header__menu-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

// Header Menu Scope
.s-header-menu {

  li {
    margin-right: 53px;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    font-size: 0.833em ;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    line-height: 16px;

    &:hover {
      color: $color-primary;
    }
  }
}