.o-col {
  flex-grow: 1;
  max-width: 100%;
  padding: 0 16px;
  flex-basis: 100%;

  @media #{$mobile} {
    padding: 0;
  }

  @media #{$tablet} {
    padding: 0;
  }
}

.o-col--1\/1 {
  width: 100%;
  max-width: 100%;
}

.o-col--1\/2 {
  width: 50%;
  max-width: 50%;
}

.o-col--1\/3 {
  max-width: 33.333333%;
  width: 33.333333%;
}

.o-col--2\/3 {
  max-width: 66.666666%;
  width: 66.666666%;
}

.o-col--1\/5 {
  max-width: 25%;
  width: 25%;
}

@media #{$mobile} {
  .o-col--1\/3, .o-col--1\/2, .o-col--1\/5, .o-col--2\/3 {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
}

