.o-page {

}

.o-page__header {
  margin: 0 0 80px;
}

.o-page--default {

}


.o-page--home {

  .o-page__header {
    margin: 32px 0 128px;

    @media #{$mobile} {
      margin: 64px 0;
    }

    @media #{$tablet} {
      margin: 64px 0;
    }
  }
}

.o-page__main {
  background-color: #fff;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.03em;
}

/*
* Page (With Sidebar)
*/
.o-page__sidebar {
  width: 36%;
  margin-right: 80px;

  @media #{$tablet} {
    margin-right: 30px;
  }

  @media #{$mobile} {
    width: 100%;
    margin-right: 0;
    order: 2;
  }
}

.o-page__main {
  width: 60%;

  @media #{$mobile} {
    width: 100%;
    order: 1;
  }
}

.o-page__title {
  font-size: 1.75em;
  margin-bottom: 64px;
  margin-top: 0;
  display: block;

  @media #{$tablet} {
    font-size: 1.25em;
    margin-bottom: 32px;
  }

  @media #{$mobile} {
    font-size: 1.5em;
   margin-bottom: 24px;
  }
}
