.c-comments {
  width: 70%;
  margin: auto;
  margin-top: 96px;

  @media #{$tablet} {
    width: 90%;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 64px;
  }

  @media #{$mobile} {
    width: 100%;
    margin-top: 64px;
  }

  .form-submit {
    margin: 0;
  }
}

.comments-title {
  margin: 0 0 8px;
}

.comments-desc {
  margin: 0;
  color: $wp-manifest__body-color;
}

.comments-header {
  margin: 0 0 64px;

  @media #{$mobile} {
    margin-bottom: 48px;
  }
}


.comment-content a:not(.comment-reply-link) {
  word-wrap: break-word;
  color: $wp-manifest__heading-color;
}

.bypostauthor {
  display: block;
}

.comments {
  list-style: none;
  padding: 0;
  margin: 0;

  & > li > ol.children {
    border-bottom: 0;
  }

  .comment-header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  .comment-avatar {
    width: 70px;
    height: 70px;
    min-width: 70px;
    min-height: 70px;
    margin-right: 24px;

    @media #{$mobile} {
      min-width: 36px;
      min-height: 36px;
      width: 36px;
      height: 36px;
    }
  }

  .time {
    font-size: 12px;
    color: $wp-manifest__body-secondary-color;
  }

  .comment-info {
    display: inline-block;
    width: 70%;
    vertical-align: middle;
  }

  .avatar {
    vertical-align: middle;
    margin-right: 10px;
  }

  .comment {
    padding: 20px 10px;
    margin: 5px 0;
  }

  .comment-meta {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .comment-metadata a * {
    font-size: 0.813em;
    text-decoration: none;
    color: #888888;
    font-weight: 400;
  }


  &:last-child {
    margin-bottom: 10px;
  }


  .comment-author , .comment-author a {
    margin-top: 0;
    margin-right: 24px;
    color: $wp-manifest__heading-color;
  }
}


ol.children {
  list-style: none;
  margin-top: 15px;
  padding-left: 30px;

  @media #{$mobile} {
    margin-top: 15px;
    padding-left: 10px;
    margin-left: 5px;
  }
}

ol.children:last-child {
  border-bottom: 1px solid #d4d4d4;
}

.comment-navigation {
  margin-bottom: 40px;
}


.nav-links {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}

.comments > .comment:first-child {
  border-top: 0;
}

.comment-content p {
  margin-bottom: 16px;
  color: $wp-manifest__body-color;
  font-size: 1.2rem;
}

.comment-content a {
  letter-spacing: 0.05em;
}


.comment-reply-link {
  text-align: center;
  color: $wp-manifest__body-secondary-color;
  transition: 0.25s;

  &:hover {
    color: $wp-manifest__heading-color;
  }
}


.comment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 96px;

  @media #{$mobile} {
    margin-bottom: 64px;
  }
}

.comment-field {
  width: 30%;

  label {
    display: flex;
    align-items: center;
    color: $wp-manifest__main-primary-light-color;
    margin-bottom: 8px;
  }

  input {
    max-width: 100%;
  }

  @media #{$mobile} {
    width: 100%;
  }
}

.comment-form-cookies {
  display: flex;
  align-items: flex-start;
  color: $wp-manifest__body-secondary-color;

  input {
    margin: 5px 10px 0 0;
  }
}

.comment-form-comment , .comment-form-cookies {
  width: 100%;
  //margin-top: 24px;

  @media #{$mobile} {
    margin-top: 16px;
  }
}

#cancel-comment-reply-link {
  margin-left: 2em;
}

.comment-edit-link {
  margin-right: 20px;
}

.comment-form-comment textarea {
  min-width: 100%;
  max-width: 100%;
}

.comments-list-title {
  margin-bottom: 8px;
}
