.c-article {

}

/*-----------------------
# Article--single
-------------------------*/
.c-article--single {

  .c-article__main {
    width: 70%;
    margin: auto;
    position: relative;

    @media #{$tablet} {
      width: 90%;
      padding-left: 15px;
      padding-right: 15px;
    }

    @media #{$mobile} {
      width: 100%;
    }
  }
}

.c-article__header__meta {
  margin: 0 0 64px;

  @media #{$mobile} {
    margin: 0 0 40px;
  }

  @media #{$tablet} {
    margin: 0 0 40px;
  }
}

.c-article__header__meta__item {
  color: $wp-manifest__neutral-dark-gray-color !important;
  letter-spacing: 0.1em;
  display: inline-block;

  &:not(:last-child) {
    margin-right: 40px;

    @media #{$mobile} {
      margin-bottom: 8px;
    }
  }
}

.c-article__header__image {
  width: 100%;
  text-align: center;
}

.c-article__header__meta__item__icon {
  margin: 0 8px 0 0;
  vertical-align: middle;
}

.c-article__header__categories {
  list-style: none;
  margin: 0 0 16px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    margin-bottom: 8px;
  }
}

.c-article__header__categories__item {
  margin-right: 6px;

  &:last-child {
    margin-right: 0;
  }

  &:not(:last-child)::after {
    content: ",";
  }
}

.c-article__main__author {
  margin: 39px 0;
  display: flex;
  align-items: center;
}

.c-article__main__author__avatar {
  width: 70px;
  height: 70px;
  margin-right: 8px;
}

.c-article__main__author__name {
  color: $wp-manifest__tertiary-color;
}

.c-article__main__author__bio {
  width: 100%;
}

.c-article__main__tags {
  display: flex;
  border-bottom:  1px solid $wp-manifest__neutral-gray-color;
  padding-bottom: 16px;
}

.c-article__main__tags__list {
  font-size: 1rem;
}

.c-article__main__tags__title {
  color: $wp-manifest__neutral-dark-gray-color;
}

/*------------------------
# Scope
--------------------------*/

.s-article-content {


  ul {
    margin: 32px 0;
    padding: 0 0 0 16px;

    li {
      margin-bottom: 16px;

      &::marker {
        font-size: 0.85rem;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}



.is-dark-mode {
  .c-article__header__meta__item {
    color: $wp-manifest__neutral-gray-color;
  }
}
