.c-article {

}

/*-----------------------
# Article--single
-------------------------*/
.c-article--single {

  .c-article__title {
    font-size: var(--heading-typography-font-size);
    line-height: var(--heading-typography-line-height);
    letter-spacing: var(--heading-typography-letter-spacing);
  }

  .c-article__main {
    width: 70%;
    margin: auto;
    position: relative;

    @media #{$tablet} {
      width: 90%;
      padding-left: 15px;
      padding-right: 15px;
    }

    @media #{$mobile} {
      width: 100%;
    }
  }
}

.c-article__header__meta {
  margin: 0 0 64px;
}

.c-article__header__meta__item {
  color: $wp-manifest__neutral-dark-gray-color;
  font-size: 16px;
  line-height: 166.3%;
  letter-spacing: 0.1em;

  &:not(:last-child) {
    margin-right: 40px;
  }
}

.c-article__header__image {
  width: 100%;
  text-align: center;
}

.c-article__header__meta__item__icon {
  margin: 0 8px 0 0;
  vertical-align: middle;
}

.c-article__header__categories {
  list-style: none;
  margin: 0 0 48px;
  padding: 0;
  display: flex;
}

.c-article__header__categories__item {
  margin-right: 6px;

  &:last-child {
    margin-right: 0;
  }

  &:not(:last-child)::after {
    content: ",";
  }
}

.c-article__header__categories__item__link {
  font-size: 16px;
  line-height: 166.3%;
  letter-spacing: 0.1em;
}

.c-article__main__author {
  margin: 39px 0;
  display: flex;
  align-items: center;
}

.c-article__main__author__avatar {
  width: 70px;
  height: 70px;
  margin-right: 8px;
}

.c-article__main__author__name {
  font-size: 16px;
  line-height: 166.3%;
  letter-spacing: 0.1em;
  color: $wp-manifest__tertiary-color;
}

.c-article__main__author__bio {
  width: 100%;
  margin-top: 16px;
  font-size: 16px;
  line-height: 21px;
}

.c-article__main__tags {
  display: flex;
  border-bottom:  1px solid $wp-manifest__neutral-gray-color;
  padding-bottom: 16px;
}

.c-article__main__tags__list {
  font-size: 1rem;
}

.c-article__main__tags__title {
  color: $wp-manifest__neutral-dark-gray-color;
}

/*------------------------
# Scope
--------------------------*/

.s-article-content {


  ul {
    margin: 32px 0;
    padding: 0 0 0 16px;

    li {
      margin-bottom: 16px;

      &::marker {
        font-size: 14px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}



.is-dark-mode {
  .c-article__header__meta__item {
    color: $wp-manifest__neutral-gray-color;
  }
}
