.c-btn {
  padding: 9px 32px;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.7;
  letter-spacing: 0.1em;
  cursor: pointer;
  display: inline-block;
}

.c-btn--primary {
  color: #FFFFFF;
  background-color: $wp-manifest__main-primary-light-color;
  transition: $wp-manifest_global-transition;

  svg {
    fill: #fff;
  }

  .dashicons {
    color: inherit;
  }

  &:hover {
    color: #FFFFFF;
    background-color: $wp-manifest__main-primary-dark-color;

    svg {
      fill: #FFFFFF;
    }

    .dashicons {
      color: inherit;
    }
  }
}

.c-btn__icon {
  vertical-align: middle;
}

// Blocks-> Button
.wp-block-button.c-btn {
  background-color: transparent;
  padding: 0;
  margin: 0;

  a {
    padding: 8px 32px;
    cursor: pointer;
    display: inline-block;
  }

  &.c-btn--primary {
    a {
      color: #FFFFFF;
      background-color: $wp-manifest__main-primary-light-color;
      transition: $wp-manifest_global-transition;

      &::after {
        content: unset;
      }

      &:hover {
        color: #FFFFFF;
        background-color: $wp-manifest__main-primary-dark-color;
        border-color: $wp-manifest__main-primary-dark-color;
      }
    }
  }
}



//
.is-dark-mode {
  .c-btn--primary {
    color: $wp-manifest__neutral-white;

    &:hover {
      color: $wp-manifest__neutral-white;
      background-color: $wp-manifest__neutral-dark-gray-color;

      .dashicons {
        color: inherit;
      }
    }
  }
}
