.c-btn {
  padding: 8px 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 166.3%;
  font-family: $wp-manifest__secondary-font;
  letter-spacing: 0.1em;
  cursor: pointer;
  display: inline-block;
}

.c-btn--primary {
  color: #FFFFFF;
  background-color: $wp-manifest__main-primary-light-color;
  transition: $wp-manifest_global-transition;

  svg {
    fill: #fff;
  }

  &:hover {
    color: #FFFFFF;
    background-color: $wp-manifest__neutral-dark-gray-color;

    svg {
      fill: #FFFFFF;
    }
  }
}

.c-btn__icon {
  vertical-align: middle;
}

// Blocks-> Button
.wp-block-button.c-btn {
  background-color: transparent;
  padding: 0;
  margin: 0;

  a {
    padding: 8px 32px;
    font-weight: bold;
    font-size: 16px;
    line-height: 166.3%;
    font-family: $wp-manifest__secondary-font;
    letter-spacing: 0.1em;
    cursor: pointer;
    display: inline-block;
  }

  &.c-btn--primary {
    a {
      color: #FFFFFF;
      background-color: $wp-manifest__main-primary-light-color;
      transition: $wp-manifest_global-transition;

      &:hover {
        color: #FFFFFF;
        background-color: $wp-manifest__neutral-dark-gray-color;
      }
    }
  }
}
