.c-categories {
  margin-bottom: 48px;
}

.s-categories {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  li {
    margin-right: 64px;
    margin-bottom: 24px;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    color: $wp-manifest__main-primary-light-color;

    &:hover {
      color: $wp-manifest__main-primary-color;
    }
  }
}


.is-dark-mode {
  a {
    color: $wp-manifest__neutral-gray-light-color;

    &:hover {
      color: $wp-manifest__body-color;
    }
  }
}

.c-categories--post-cats {
  margin-bottom: 0;
  color: $wp-manifest__body-secondary-color;

  @media #{$mobile} {
    width: 100%;
  }
}


// Dropdown
.c-categories--dropdown {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media #{$mobile} {
    flex-wrap: wrap;
    margin-bottom: 48px;
    width: 100%;

    label {
      width: 100%;
    }

    select {
      max-width: 100%;
      width: 100% !important;
    }
  }

  label {
    margin-right: 40px;
    color: $wp-manifest__heading-color;

    @media #{$mobile} {
      margin-right: 24px;
    }
  }

  select {
    max-width: 100%;
    width: auto;
    color: $wp-manifest__body-color;

    @media #{$desktop} {
      min-width: 407px;
    }
  }
}
