.c-categories {
  margin-bottom: 24px;
}

.s-categories {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  li {
    margin-right: 64px;
    margin-bottom: 24px;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    color: $wp-manifest__main-primary-light-color;
    letter-spacing: 0.1em;

    &:hover {
      color: $wp-manifest__main-primary-color;
    }
  }
}


.is-dark-mode {
  a {
    color: $wp-manifest__neutral-gray-light-color;
    letter-spacing: 0.1em;

    &:hover {
      color: $wp-manifest__primary-color;
    }
  }
}

.c-categories--post-cats {
  line-height: 1.25rem;
  margin-bottom: 0;
}


// Dropdown
.c-categories--dropdown {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  label {
    margin-right: 40px;

    @media #{$mobile} {
      margin-right: 24px;
    }
  }

  select {
    width: auto;
  }
}
