.c-component {
  display: block;
  width: 100%;
  margin: 0 0 128px 0;
  padding: 0;

  @media #{$mobile} {
    margin: 0 0 64px 0;
  }
}


.c-component.c-posts {

  .c-posts__more-links {
    color: $wp-manifest__body-secondary-color;

    @media #{$mobile} {
      font-size: 0.85rem;
    }

    &:hover {
      color: $wp-manifest__heading-color;
    }
  }
}
