/*
* Header Styles
*/

.c-header {
  top: 0;
  position: relative;
  z-index: 90;
  width: 100%;
  color: #fff;
  transition: $wp-manifest_global-transition;
  font-weight: 400;
}

// Main Container of HEADER Section
.c-header__main {
  display: flex;
  padding: 32px 0 96px;
  align-items: center;

  @media #{$mobile} {
    padding: 24px 0;
  }

  @media #{$tablet} {
    padding: 24px 0;
  }
}

.c-header__menu {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media #{$tablet} {
    display: flex;
    justify-content: flex-end;
  }

  @media #{$mobile} {
    display: flex;
    justify-content: flex-end;
  }
}

.c-header__toggle {
  background-color: transparent;
  border: 0;
  color: $wp_manifest__main-primary-dark-color;
  padding: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  .dashicons {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    font-size: 40px;
  }

  &:hover {
    background-color: transparent;
    color: $wp_manifest__neutral-dark-gray-color
  }

  @media #{$tablet} {
    display: flex;
    order: 2;
  }

  @media #{$mobile} {
    display: flex;
    order: 2;
  }
}

.c-header__logo {

}

.c-header__site-title {
  margin: 0;
  font-weight: bold;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  font-family: var(--heading-typography-font-family);
  font-size: var(--text-typography-font-size);
  color: $wp-manifest__tertiary-color;

  &:visited {
    color: $wp-manifest__tertiary-color;
  }
}

.c-header__logo a::after {
  content: unset;
}

.c-header__menu-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

// Header Menu Scope
.s-header-menu {

  ul li {
    margin-right: 0;
  }

  li {
    margin-right: 53px;
    margin-bottom: 0;
    padding: 10px 0;

    &:last-child {
      margin-right: 0;
    }

    &::after {
      content: '';
      width: 35px;
      height: 1px;
      background-color: transparent;
      display: block;
      margin: 4px auto 0;
      opacity: 1;
      transition: 0.3s;
    }

    &:hover {

      & > .sub-menu {
        left: auto;
        transition-delay: 0s;
      }
    }
  }

  li.current-menu-item {

    &::after {
      background-color: $wp-manifest__tertiary-color;
    }
  }

  a {
    font-size: 0.833rem;
    text-transform: uppercase;
    line-height: 1;
    font-family: $wp-manifest__primary-font;
    color: $wp-manifest__tertiary-color;
    letter-spacing: var(--heading-typography-letter-spacing);
    font-weight: var(--heading-typography-variant);

    &::after {
      content: unset;
    }
  }

  .sub-menu {
    flex-direction: column;
    margin-top: 0;
    top: 100%;
    transition-delay: 2.5s;
    background-color: $wp-manifest__neutral-white;

    li {
      padding: 10px 20px;
    }

    a:hover {
      color: $wp-manifest__tertiary-color;
    }
  }
}


// Search

.c-header__search-toggle.dashicons {
  width: 25px;
  height: 25px;
  font-size: 25px;
  cursor: pointer;
  z-index: 5;
  background-color: transparent;
  border: none;
  appearance: none;
  padding: 0;
}

.c-header__search-toggle.c-header__search-toggle--close {
  position: absolute;
  display: none;
}

.c-header__search {
  position: relative;
  margin-left: 40px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;

  @media #{$mobile} {
    margin-left: 0;
    margin-right: 10px;
    order: 1;
  }

  @media #{$tablet} {
    margin-left: 0;
    margin-right: 10px;
    order: 1;
  }
}

.c-header__search__form {
  position: relative;
  bottom: 0;
  width: 100%;
  right: 0;
  max-width: 0;
  transition: 0s;
  transform: scale(0, 1);
  transform-origin: right center;
  display: none;

  &.is-open {
    display: block;
    min-width: 250px;
    transform: scale(1, 1);
    transition: 0.3s;

    @media #{$tablet} {
      min-width: 250px;
      max-width: 100%;
    }

    @media #{$mobile} {
      min-width: 250px;
      max-width: 100%;
    }

    .search-field {
      max-width: 250px;
      padding: 0 26px 0 5px;
      transition: 0.35s;

      @media #{$mobile} {
        max-width: 250px;
      }

      @media #{$tablet} {
        max-width: 250px;
      }
    }
  }
}

.s-header-search {

  .search-form {
    align-items: flex-end;
    position: relative;
    right: -30px;

    @media #{$mobile} {
      right: -24px;
    }

    @media #{$tablet} {
      right: -24px;
    }
  }

  .search-submit {
    font-size: 0;
    background-color: transparent;
    width: 22px;
    height: 22px;
    padding: 0;
    display: none;
  }

  .search-field {
    padding: 0;
    background-color: #fff;
    max-width: 0;
    min-width: 250px;
    transition: 0s;

    @media #{$mobile} {
      min-width: 150px;
    }

    @media #{$tablet} {
      min-width: 150px;
    }
  }
}


// 404

.c-header__404 {

  .c-header__main {
    justify-content: center;
  }
}
