/*
* Header Styles
*/

.c-header {
  top: 0;
  position: relative;
  z-index: 90;
  width: 100%;
  color: #fff;
  transition: $wp-manifest_global-transition;
  background: #fff;
  font-weight: 400;
}

// Main Container of HEADER Section
.c-header__main {
  display: flex;
  padding: 96px 16px;
  align-items: center;

  @media #{$mobile} {
    padding: 24px 16px;
  }

  @media #{$tablet} {
    padding: 24px 16px;
  }
}

.c-header__menu {
  flex-grow: 1;

  @media #{$tablet} {
    display: flex;
    justify-content: flex-end;
  }

  @media #{$mobile} {
    display: flex;
    justify-content: flex-end;
  }
}

.c-header__toggle {
  background-color: transparent;
  border: 0;
  color: $wp_manifest__main-primary-dark-color;
  padding: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  .dashicons {
    width: 40px;
    height: 40px;
    font-size: 40px;
  }

  &:hover {
    background-color: transparent;
    color: $wp_manifest__neutral-dark-gray-color
  }

  @media #{$tablet} {
    display: flex;
  }

  @media #{$mobile} {
    display: flex;
  }
}

.c-header__logo {

}

.c-header__site-title {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  font-family: var(--heading-typography-font-family);
  color: $wp-manifest__secondary-color;

  &:visited {
    color: $wp-manifest__secondary-color;
  }
}

.c-header__menu-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

// Header Menu Scope
.s-header-menu {

  li {
    margin-right: 53px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  li.current-menu-item {

    &::after {
      content: '';
      width: 80%;
      height: 1px;
      background-color: $wp-manifest__main-primary-color;
      display: block;
      margin: 4px auto 0;
    }
  }

  a {
    font-size: 0.833em ;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    line-height: 16px;
    font-family: $wp-manifest__primary-font;

    &:hover {
      color: $wp-manifest__primary-color;
    }
  }
}
