.c-info {
  margin: 64px 0;

  @media #{$desktop} {
    margin: 160px 0;
  }
}

.c-info__main {
  display: flex;

  @media #{$mobile} {
    flex-wrap: wrap;
  }

  @media #{$tablet} {
    flex-wrap: wrap;
  }
}

.c-info__col {
  width: 50%;
  max-width: 100%;

  &:first-child {
    padding-right: 15px;

    @media #{$mobile} {
      margin-bottom: 48px;
    }
  }

  &:last-child {
    @media #{$desktop} {
      padding-left: 15px;
    }
  }

  @media #{$tablet} {
    width: 100%;
  }

  @media #{$mobile} {
    width: 100%;
  }
}

.c-info__col__title {
  color: $wp-manifest__tertiary-color;
  margin: 0 0 48px;

  @media #{$mobile} {
    margin: 0 0 20px;
  }
}

.c-info__col--desc {

  p {
    margin: 0;
  }
}

.c-info__col__link {

  &:hover {

    .c-info__col__link__text {
      max-width: 116px;
    }
  }
}

.c-info__col__link__text {
  white-space: nowrap;
  max-width: 0;
  overflow: hidden;
  display: inline-block;
  transition: 0.3s;
  line-height: 0.85;
}
