.c-post {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;

  @media #{$mobile} {
    margin-bottom: 56px;
  }
}

.c-post__header {
  height: 258px;
  position: relative;

  @media #{$mobile} {
    height: 137px;
  }
}

.c-post__header__link {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 2;
}

.c-post__header__img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.c-post__main {
  flex-grow: 1;

  @media #{$mobile} {
    flex-grow: unset;
  }
}

.c-post__main__excerpt {
  color: $wp-manifest__secondary-color;
  line-height: 166.3%;
  letter-spacing: 0.05em;
  font-size: var(--text-typography-font-size);
  flex-grow: 1;
  margin-top: auto;
}

.c-post__main__title {
  transition: $wp-manifest_global-transition;
  line-height: 1.35em;
}

.c-post__header__category {
  font-size: 0.75em;
  color: $wp-manifest__secondary-color;
}

.c-post__header__date {
  font-size: 0.75rem;
  line-height: 1.25em;
  color: $wp-manifest__secondary-color;
}
