.c-slider {

}

.c-slider__main {

}

.c-slider__slide {
  max-width: 574px;

  @media #{$mobile} {
    width: 90%;

    .c-slider__slide-link {
      width: 100%;
    }
  }
}

.c-slider__slide-main {
  padding: 0 15px;
  transition: 0.2s ease-in-out;

  @media #{$mobile} {
    padding: 0 8px;
  }

  &:hover, &:focus-within {

    .c-slider__image {
      transform: scale(1.2);
    }
  }
}

.c-slider__image {
  max-height: 544px;
  max-width: 544px;
  text-decoration: none;
  transition: 0.2s ease-out;

  @media #{$mobile} {
    max-height: 100%;
    max-width: 100%;
  }

  @media #{$tablet} {
    max-height: 400px;
    max-width: 400px;
  }
}

.c-slider__title {
  font-weight: normal;
  font-size: 1rem;
  transition: $wp-manifest_global-transition;
  margin: 15px 0 0 0;
}

.c-slider__slide-link {
  color: $wp-manifest__heading-color;
  text-decoration: none;

  &:hover {

    .c-slider__title {
      color: $wp-manifest__body-secondary-color;
    }
  }
}

.c-slider__slide__image-wrapper {
  overflow: hidden;
  max-height: 544px;
  max-width: 544px;
}


.s-slider {

  .flickity-button {
    background: rgba(255, 255, 255, 0.35);
    border-radius: 0;
    width: 72px;
    height: 72px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: rgba(255, 255, 255, 0.8);

      .flickity-button-icon {
        fill: $wp-manifest__body-color;
      }
    }

    .flickity-button-icon {
      width: 50%;
      height: 50%;
      fill: $wp-manifest__body-secondary-color;
    }

    &.previous {
      .flickity-button-icon {
        top: 25%;
        left: 35%;
      }
    }

    &.next {
      .flickity-button-icon {
        top: 25%;
        right: 35%;
        left: unset;
      }
    }
  }
}
