.c-slider {

}

.c-slider__main {

}

.c-slider__slide {
  max-width: 574px;
}

.c-slider__slide-main {
  padding: 0 15px;
  transition: 0.2s ease-in-out;

  &:hover, &:focus-within {

    .c-slider__image {
      transform: scale(1.2);
    }
  }
}

.c-slider__image {
  max-height: 544px;
  max-width: 544px;
  text-decoration: none;
  transition: 0.2s ease-out;

  @media #{$mobile} {
    max-height: 285px;
    max-width: 285px;
  }

  @media #{$tablet} {
    max-height: 400px;
    max-width: 400px;
  }
}

.c-slider__title {
  font-weight: normal;
  font-size: 1rem;
  margin: 15px 0 0 0;
}

.c-slider__slide-link {
  color: #000;
  text-decoration: none;

  &::after {
    content: unset !important;
  }
}

.c-slider__slide__image-wrapper {
  overflow: hidden;
  max-height: 544px;
  max-width: 544px;
}
