.c-social-share {
  position: absolute;
  left: -90px;
  display: flex;
  flex-direction: column;
  min-height: 20px;

  @media screen and (max-width: 980px) {
    flex-direction: row;
    position: relative;
    justify-content: flex-start;
    left: 0;
    margin-bottom: 24px;
  }
}

.c-social-share__link {
  margin-bottom: 24px;
  width: 100%;
  height: 16px;

  @media screen and (max-width: 980px) {
    width: auto;
    margin-bottom: 0;
    margin-right: 24px;
  }
}

.c-social-share__link__icon {
  height: 16px;
  vertical-align: middle;
  color: $wp-manifest__neutral-dark-gray-color;
}


.is-dark-mode {

  .c-social-share__link__icon {
    color: $wp-manifest__neutral-gray-color;

    &:hover {
      color: $wp-manifest__primary-color;
    }
  }
}
