.c-archive--portfolio {
  padding-bottom: 80px;

  @media #{$mobile} {
    padding-bottom: 16px;
  }
}

.c-archive__title {
  margin-top: 0;
  margin-bottom: 128px;

  @media #{$tablet} {
    margin-bottom: 64px;
  }

  @media #{$mobile} {
    margin-bottom: 64px;
  }
}

.c-archive__desc {
  font-size: 1.2rem;
  color: $wp-manifest__heading-color;
  margin: 0;

  @media #{$tablet} {
    margin-bottom: 64px;
  }

  @media #{$mobile} {
    margin-bottom: 64px;
  }
}
