h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-family: $wp-manifest__secondary-font;
  font-weight: var(--heading-typography-variant);
}

h1, .h1 {
  font-family: var(--heading-typography-font-family);
  font-size: clamp(1em, var(--heading-typography-font-size) , 10em);
  color: var(--tertiary-color);
  line-height: 1.175;
  font-weight: var(--heading-typography-variant);
  margin: 1rem 0 1.5rem;
}

h2, .h2 {
  font-family: var(--heading-typography-font-family);
  font-size: clamp(0.85em, calc(var(--heading-typography-font-size) - 0.5em) , 8em);
  color: var(--tertiary-color);
  line-height: 1.167;
  font-weight: var(--heading-typography-variant);
  margin: 1rem 0 1.5rem;
}

h3, .h3{
  font-family: var(--heading-typography-font-family);
  font-size: clamp(0.75em, calc(var(--heading-typography-font-size) - 0.75em) , 7em);
  color: var(--tertiary-color);
  line-height: 1.154;
  font-weight: var(--heading-typography-variant);
  margin: 1rem 0 1.5rem;
}

h4, .h4 {
  font-family: var(--heading-typography-font-family);
  font-size: clamp(0.65em, calc(var(--heading-typography-font-size) - 1em) , 6em);
  color: var(--tertiary-color);
  line-height: 1.15;
  font-weight: var(--heading-typography-variant);
  margin: 1rem 0 1.5rem;
}

h5, .h5 {
  font-family: var(--heading-typography-font-family);
  font-size: clamp(0.5em, calc(var(--heading-typography-font-size) - 1.25em) , 5em);
  color: var(--tertiary-color);
  line-height: 1.205;
  font-weight: var(--heading-typography-variant);
  margin: 1rem 0 1.5rem;
}

h6, .h6 {
  font-family: var(--heading-typography-font-family);
  font-size: clamp(0.45em, calc(var(--heading-typography-font-size) - 1.5em) , 4em);
  color: var(--tertiary-color);
  line-height: 1.194;
  font-weight: var(--heading-typography-variant);
  margin: 1rem 0 1.5rem;
}
