.not-found {
  text-align: center;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;

  .big-title {
    font-weight: 500;
    font-size: 8.75rem;
    line-height: 1.4em;
    color: #E7E7E7;
    text-align: center;
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    text-align: center;
  }

  .s-widget--search-form {
    margin-right: auto;
    margin-left: auto;
  }
}


.is-dark-mode {
  .not-found {

    .big-title {
      color: #E7E7E7;
    }
  }
}
