.pagination {
  width: 100%;

  .nav-links {
    display: flex;
    justify-content: center;
  }

  .page-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $wp-manifest__neutral-gray-color;
    min-width: 2em;
    min-height: 2em;
    margin: 0.25em;
    transition: $wp-manifest_global-transition;
    padding: 0.25em;
    font-size: 1rem;

    &:hover {
      background-color: $wp-manifest__neutral-gray-color;
      color: #000;
    }
  }

  span.page-numbers:hover {
    background-color: transparent;
  }
}
