///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

$wp-manifest_base-font-size: var(--text-typography-font-size);
$wp-manifest_heading-font-size: var(--heading-typography-font-size);

$wp-manifest_global-transition: 0.25s;

$wp-manifest__primary-color: var(--primary-color);
$wp-manifest__secondary-color: var(--secondary-color);
$wp-manifest__tertiary-color: var(--tertiary-color);
$wp-manifest__primary-light-color: #565656;
$wp-manifest__dark-gray-color: #999999;
$wp-manifest__gray-color: #CCCCCC;



$wp-manifest__primary-font: var(--text-typography-font-family);
$wp-manifest__secondary-font: var(--heading-typography-font-family);



// Media queries
$mobile: "only screen and (max-width: 560px)";
$tablet: "only screen and (min-width: 561px) and (max-width: 980px)";
$desktop: "only screen and (min-width: 980px)";
$wide: "only screen and (min-width: 1200px)";
