.u-text-center {
  text-align: center;
}

.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

@media #{$mobile} {
  .u-text-center-m {
    text-align: center;
  }

  .u-text-left-m {
    text-align: left;
  }

  .u-text-right-m {
    text-align: right;
  }
}

@media #{$tablet} {
  .u-text-center-t {
    text-align: center;
  }

  .u-text-left-t {
    text-align: left;
  }

  .u-text-right-t {
    text-align: right;
  }
}
