.u-margin-none {
  margin: 0;
}

.u-margin-bottom-small {
  margin-bottom: 16px;
}

.u-margin-bottom-medium {
  margin-bottom: 24px;
}

.u-margin-bottom-large {
  margin-bottom: 32px;
}

.u-margin-bottom-larger {
  margin-bottom: 48px;
}

.u-margin-bottom-xlarge {
  margin-bottom: 64px;
}

.u-margin-bottom-huge {
   margin-bottom: 96px;
 }

.u-margin-bottom-massive {
  margin-bottom: 128px;
}

@media #{$mobile} {
  .u-margin-none-m {
    margin: 0;
  }

  .u-margin-bottom-small-m {
    margin-bottom: 16px;
  }

  .u-margin-bottom-larger-m {
    margin-bottom: 48px;
  }

  .u-margin-bottom-xlarge-m {
    margin-bottom: 64px;
  }

  .u-margin-bottom-massive-m {
    margin-bottom: 128px;
  }
}

@media #{$tablet} {
  .u-margin-none-t {
    margin: 0;
  }
}
