.u-font-primary {
  font-family: var(--text-typography-font-family);
}

.u-font-secondary {
  font-family: var(--heading-typography-font-family);
}

.u-text-center {
  text-align: center;
}

.u-text-sm-center {
  @include mq($until: tablet) {
    text-align: center;
  }
}

.u-primary-color {
  color: $color-primary;
}

.u-secondary-color {
  color: $color-secondary;
}

.u-tertiary-color {
  color: $color-tertiary;
}

.u-white-color {
  color: #fff;
}

.u-light-color-text {
  color: #fff;
}

.u-text-upper-case {
  text-transform: uppercase;
}

.u-text-small {
  font-size: 13.33px;
  line-height: 16px;
}

.u-text-normal {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}

.u-text-medium {
  font-size: 19.2px;
  line-height: 30px;
  font-weight: 300;
}

.u-text-large {
  font-size: 27.6px;
  line-height: 42px;
  font-weight: 300;

  @include mq($until: tablet) {
    font-size: 24px;
    line-height: 34px;
  }
}

.u-text-xlarge {
  font-size: 47.8px;
  line-height: 78px;
  font-weight: 300;

  @include mq($until: tablet) {
    font-size: 28px;
    line-height: 36px;
  }
}

.u-text-bold {
  font-weight: 500;
}

.u-text-normal-style {
  font-weight: normal;
}


.u-text-light-style {
  font-weight: 300;
}

small {
  display: inline-block;
}