.u-background-image {
  background: url("../img/background.jpeg") center center/cover no-repeat;
  position: relative;
  background-attachment: fixed;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: linear-gradient(0deg, rgba(2, 15,33,0.7), rgba(2,15,33,0.7));
    background-blend-mode: multiply, normal;
    z-index: 1;
  }
}

.u-light-blue-bg {
 background-color: #f5fbfc;
}