.u-padding-component {
  padding: 96px 0;

  @include mq($until: tablet) {
    padding: 48px 0;
  }
}

.u-padding-component--page {
  padding: 64px 0;

  @include mq($until: tablet) {
    padding: 48px 0;
  }
}

.u-padding-component--half {
  padding: 48px 0;

  @include mq($until: tablet) {
    padding: 30px 0;
  }
}

.u-padding-hor-large {
  padding: 0 41px;

  @include mq($until: tablet) {
    padding: 15px;
  }
}