.o-side-title {
  width: 140px;
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding-top: 70px;

  @include mq($until: desktop) {
    display: none;
    width: auto;
    height: auto;
    padding: 10px 12px;
  }
}

.o-side-title--is-image-mobile {
  display: none;

  @include mq($until: desktop) {
    display: block;
    position: absolute;
    bottom: 0;
    width: 46px;


    &.is-left {
      left: 0;
    }

    &.is-right {
      right: 0;
    }
  }
}

.o-side-title__title {
  text-align: right;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: $color-secondary;
  line-height: 27px;
  letter-spacing: 0.15em;
  white-space: nowrap;
  writing-mode: vertical-rl;
  transform: rotate(180deg);

  @include mq($until: desktop) {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2em;
    margin: 0;
  }
}