.o-background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: -100;
}

.o-background__video {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}