
.o-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
}

@media (min-width: 576px) {
  .o-container {

  }
}

@media (min-width: 768px) {
  .o-container {
    padding: 0 25px;
  }
}

@media (min-width: 992px) {
  .o-container {
    padding: 0 10%;
  }
}

@media (min-width: 1200px) {
  .o-container {

  }
}

.o-container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}