.o-section {

}

.o-section__title {
  font-family: var(--text-typography-font-family);

  &::before {
    content: '';
    width: 24px;
    height: 1px;
    vertical-align: middle;
    display: inline-block;
    background-color: $color-secondary;
    margin-right: 8px;
  }
}

.o-section__title--right {


  &::before {
    content: unset;
  }

  &::after {
    content: '';
    width: 24px;
    height: 1px;
    vertical-align: middle;
    display: inline-block;
    background-color: $color-secondary;
    margin-left: 8px;
  }

  @include mq($until: tablet) {
    &::before {
      content: '';
      width: 24px;
      height: 1px;
      vertical-align: middle;
      display: inline-block;
      background-color: $color-secondary;
      margin-left: 8px;
    }

    &::after {
      content: unset;
    }
  }
}