.o-page {

}

.o-page--home {


  .o-page__header {
    margin: 32px 0 128px;
  }
}

.o-page__main {
  background-color: #fff;
  color: $color-quaternary;
  font-size: 19.2px;
  line-height: 30px;
  letter-spacing: 0.03em;
}