.o-page {

}

.o-page__header {
  margin: 32px 0 96px;
}


.o-page--home {

  .o-page__header {
    margin: 32px 0 128px;

    @media #{$mobile} {
      margin: 64px 0;
    }

    @media #{$tablet} {
      margin: 64px 0;
    }
  }
}

.o-page__main {
  background-color: #fff;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.03em;
}
