body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
	font-family: $default_font_family; // Fallback for when there is no custom font family defined.
	line-height: 1.5; // Fallback for when companion plugin not installed
}

*:focus {
	outline: 1px dotted #666666;
}
