input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  width: 100%;
  color: $wp-manifest__main-primary-color;
  border: none;
  border-bottom: 1px solid $wp-manifest__main-primary-color;
  border-radius: 0;
  padding: 16px 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 166.3%;
  letter-spacing: 0.1em;
  background: transparent;

  &::placeholder {
    font-size: 12px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: $wp-manifest__main-primary-light-color;
  }

  &:focus {
    color: $color__text-input-focus;
  }
}

select {
  color: $wp-manifest__main-primary-color;
  border: none;
  border-bottom: 1px solid $wp-manifest__main-primary-color;
  border-radius: 0;
  padding: 16px 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 166.3%;
  letter-spacing: 0.1em;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent url("./assets/arrow-down-alt2.svg") right center/20px no-repeat;
}

textarea {
  width: 100%;
  background: transparent;
}


input[type="submit"], form button {
  padding: 8px 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 166.3%;
  letter-spacing: 0.1em;
  cursor: pointer;
  display: inline-block;
  color: #FFFFFF;
  background-color: $wp-manifest__main-primary-light-color;
  transition: $wp-manifest_global-transition;

  svg {
    fill: #fff;
  }

  &:hover {
    color: #FFFFFF;
    background-color: $wp-manifest__main-primary-dark-color;

    svg {
      fill: #FFFFFF;
    }
  }
}


.is-dark-mode {
  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="search"],
  input[type="number"],
  input[type="tel"],
  input[type="range"],
  input[type="date"],
  input[type="month"],
  input[type="week"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="color"],
  textarea,
  select {
    border-bottom-color: $wp-manifest__neutral-white;
    color: $wp-manifest__neutral-white;

    &::placeholder {
      color: $wp-manifest__neutral-gray-light-color;
    }
  }

  input[type="submit"], form button {

    &:hover {
      background-color: $wp-manifest__tertiary-color;
    }
  }
}

input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
