input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	width: 100%;
	color: $wp-manifest__main-primary-color;
	border: none;
	border-bottom: 1px solid $wp-manifest__main-primary-color;
	border-radius: 0;
	padding: 16px 0;
	font-weight: normal;
	font-size: 16px;
	line-height: 166.3%;
	letter-spacing: 0.1em;

	&::placeholder {
		font-size: 12px;
		line-height: 28px;
		display: flex;
		align-items: center;
		letter-spacing: 0.1em;
		color: #CCCCCC;
	}

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	color: $wp-manifest__main-primary-color;
	border: none;
	border-bottom: 1px solid $wp-manifest__main-primary-color;
	border-radius: 0;
	padding: 16px 0;
	font-weight: normal;
	font-size: 16px;
	line-height: 166.3%;
	letter-spacing: 0.1em;
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: transparent url("./assets/arrow-down-alt2.svg") right center/20px no-repeat;
}

textarea {
	width: 100%;
}


input[type="submit"], form button {
	padding: 8px 32px;
	font-weight: bold;
	font-size: 16px;
	line-height: 166.3%;
	font-family: $wp-manifest__secondary-font;
	letter-spacing: 0.1em;
	cursor: pointer;
	display: inline-block;
	color: #FFFFFF;
	background-color: $wp-manifest__main-primary-light-color;
	transition: $wp-manifest_global-transition;

	svg {
		fill: #fff;
	}

	&:hover {
		color: #FFFFFF;
		background-color: $wp-manifest__neutral-dark-gray-color;

		svg {
			fill: #FFFFFF;
		}
	}
}
