a {
  color: inherit;
  text-decoration: none;
  transition: $wp-manifest_global-transition;
  display: inline-block;

  &:hover {
    text-decoration: none;
    color: $wp-manifest__main-primary-color;

    .dashicons {
      color: $wp-manifest__main-primary-color;
    }
  }

  &:active, &:focus {
    text-decoration: none;

    &::after {
      opacity: 1;
    }
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}

.u-link-no-hover {
	&::after {
		content: unset;
	}
}
