ul,
ol {
	margin: 1.5rem 0;
	padding-left: 1em;
	font-family: $wp-manifest__secondary-font;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

li {
	margin-bottom: 0.75em;

	&:last-child {
		margin-bottom: 0;
	}
}
