.c-widget {
  margin: 0 0 2.5em;

  // Make sure select elements fit in widgets.
  select {
    max-width: 100%;
  }
}

.c-widget__title {
  font-size: 23px;
  line-height: 30px;
  letter-spacing: 0.05em;
  margin: 0 0 1.25rem;
}

.s-widget {

  .menu {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 1em;
    }
  }

	.search-form {
		display: flex;

		.search-submit {
			margin-left: 8px;
		}

		label {
			flex-grow: 1;
		}
	}
}

.search-form {
  display: flex;

  .search-submit {
    margin-left: 8px;
  }

  label {
    flex-grow: 1;
  }
}


/* Search Widget*/
.wp-block-search {
  display: flex;
  flex-wrap: wrap;

  .wp-block-search__label {
    width: 100%;
  }

  .wp-block-search__input {
    flex-grow: 1;
    width: 60%;
    max-width: 60%;
  }

  .wp-block-search__button {
    width: auto;
    padding: 8px 8px;
    min-width: 100px;
  }
}


.wp-block-calendar, .wp-calendar-table {
  border-collapse: collapse;
  border-radius: 3px;

  caption {
    margin-bottom: 0.5em;
    color: $wp-manifest__main-primary-color;
  }

  th {
    background-color: $wp-manifest__neutral-gray-color;
    color: $wp-manifest__main-primary-color;
  }

  td a {
    color: $wp-manifest__main-primary-color;

    &:hover {
      color: $wp-manifest__tertiary-color;
    }
  }
}

.wp-calendar-table, th, td {
  padding: 4px;
  border: 1px solid $wp-manifest__neutral-gray-color;
  text-align: center;
  vertical-align: middle;
  color: $wp-manifest__neutral-dark-gray-color;
}

.s-widget--search-form {
  max-width: 500px;
}


.is-dark-mode {

  .wp-calendar-table, tr {
    background-color: $wp-manifest__neutral-gray-color;
  }

  .wp-block-table.is-style-stripes tbody tr:nth-child(2n+1) {
    background-color: $wp-manifest__neutral-gray-light-color;
  }

  table th {
    color: $wp-manifest__main-primary-color;
  }

  table td {
    color: $wp-manifest__main-primary-dark-color;
  }

}
