$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$wp-manifest__heading-color: var(--headings-colors);
$wp-manifest__body-color: var(--base-font-color);
$wp-manifest__body-secondary-color: var(--base-font-color-secondary);
$wp-manifest__main-primary-color: #000000;
$wp-manifest__main-primary-dark-color: #323232;
$wp-manifest__main-primary-light-color: #565656;
$wp-manifest__neutral-dark-gray-color: #7B7B7B;
$wp-manifest__neutral-gray-color: #CCCCCC;
$wp-manifest__neutral-gray-light-color: #F4F4F4;
$wp-manifest__neutral-white: #FFFFFF;

$wp-manifest__service-error-color: #E10000;







