$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$wp-manifest__primary-font: var(--text-typography-font-family);
$wp-manifest__secondary-font: var(--heading-typography-font-family);
$wp-manifest_base-font-size: var(--text-typography-font-size);
$wp-manifest_heading-font-size: var(--heading-typography-font-size);
